USE [DataContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2018-06-25 12:36:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 2018-06-25 12:36:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hora] [datetime] NOT NULL,
	[Medico_MedicoId] [int] NULL,
	[Paciente_PacienteId] [int] NULL,
	[Secretaria_SecretariaId] [int] NULL,
 CONSTRAINT [PK_dbo.Consultas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contas]    Script Date: 2018-06-25 12:36:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Banco] [nvarchar](max) NULL,
	[ContaCorrente] [nvarchar](max) NULL,
	[Agencia] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Contas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Convenios]    Script Date: 2018-06-25 12:36:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Convenios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Empresa] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Convenios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 2018-06-25 12:36:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Valor] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Especialidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 2018-06-25 12:36:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[MedicoId] [int] IDENTITY(1,1) NOT NULL,
	[CRM] [nvarchar](max) NULL,
	[Turno] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[Nascimento] [datetime] NOT NULL,
	[Telefone] [nvarchar](max) NULL,
	[CPF] [nvarchar](max) NULL,
	[conta_Id] [int] NULL,
	[Especialidade_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Medicos] PRIMARY KEY CLUSTERED 
(
	[MedicoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 2018-06-25 12:36:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[PacienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Nascimento] [datetime] NOT NULL,
	[Telefone] [nvarchar](max) NULL,
	[CPF] [nvarchar](max) NULL,
	[Convenio_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Pacientes] PRIMARY KEY CLUSTERED 
(
	[PacienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secretarias]    Script Date: 2018-06-25 12:36:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secretarias](
	[SecretariaId] [int] IDENTITY(1,1) NOT NULL,
	[Turno] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[Nascimento] [datetime] NOT NULL,
	[Telefone] [nvarchar](max) NULL,
	[CPF] [nvarchar](max) NULL,
	[conta_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Secretarias] PRIMARY KEY CLUSTERED 
(
	[SecretariaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
--INSERT [dbo].[__MigrationHistory] ([MigrationId], [ContextKey], [Model], [ProductVersion]) VALUES (N'201806250424418_InitialCreate', N'Hospital.Model.HospitalContext', 0x1F8B0800000000000400ED1DC96E23B9F51E20FF50A85312F4A86CF72531A419F4A8ED8C91F102CBDDC8CDA0AB68B9905A942ACA9031982FCB219F945F086BE7BED422697A8CBE582CF2ED7C7C241F5FFFEF3FFF9DFFB08B23E715667998260BF77476E23A30F1D3204CD60B778B9EBFFBABFBC3F77FFCC3FC228877CED7A6DFC7A21F1E99E40BF705A1CDB9E7E5FE0B8C413E8B433F4BF3F419CDFC34F640907A6727277FF34E4F3D8841B81896E3CCEFB7090A6358FEC03F9769E2C30DDA82E83A0D6094D7EDF8CBAA84EADC8018E61BE0C385FB539A6F4204A259D9D5753E4521C054AC60F4EC3A2049520410A6F1FC4B0E57284B93F56A831B40F4F0B681B8DF33887258D37EDE753765E3E4AC60C3EB0636A0FC6D8ED2D812E0E9C75A2E1E3BBC9774DD566E58721758C2E8ADE0BA94DEC2C542CEB71102AEC3223B5F4659D19115EEAC19F2C1693E7C686D009B4AF1EF83B3C43DB6195C24708BB2A2C7DDF6290AFD7FC0B787F45F305924DB282229C3B4E16F54036EBACBD20DCCD0DB3D7CAEE9BD0A5CC7A3C779ECC0761831A6E2E42A411FCF5CE70623074F116C154F70BD426906FF0E13980104833B8010CC9202062C45C7616770FD9466A0C1F6194378C0062D40C800B901AFE1BAC4CF80BB8641E8A7AE730FA3F273FE126E2AB36ED5F0D8F4B9CCD2F83E8D08A5D69F1E57E936F331D68754FCFD01646B88CCA9BA037E88C501D57475BD0494351FE5B4B53D6CA95B413F8308642150D347F61350D87D96D348F4115139F7BAF9A69C858D0A8DE76035E02033B042DD671E7623F7351B97F7D70D32ECF6F1EAE53AD760F7334CD6E805D3037658F3E10E064D4B4DC09704D319E04128DBF29395C1F1B0CD9274722C3769E147A64602721FFBAB04A5F62E8C950A8CE0739A4C4FF3F2EE727C1C52DFE2A70912BB95DA95D61D3A7F42B6738E84FA68EBE72EF20DF4710C13062010BBE21A3CD391A38DFA2EA391EE34C8DB2D2B19D9041CEFD18610D78F20F1A7F73DA5FC97699655ABF9C4D83EADF15623043A21F6B23C6626185B2035EEDD1205B8F6B23E7D05519AB558308E48B730195B4617AC1A1B4533E420F6D020EF6317E4D86FCA3EDEE3971A873466C0AEFC1526A17847D9EEB8BA5E5DACC07DE40205BEC7D028A126C226502887BC7BE843CDC08B7893C11C4CBFE99A667A1A1B277976606C9EDDA083186887BE8FA9D2A3F765B4EF9BEB3D5AFFA11727F9E69A3867E336D8EC376E5DE23AD82C4B9FF23CC5917F410F758A55D341737691048E6AD75F09B2DB996369E2B91E6EF0ECC6A817EE5F38594920361C1010EB4D350DF064363B65F92438326294DE3369C8931C258CC0B8F8FC8180CCECED4614047BD22EA3547AEC4E69A9BE6E311780ECB45E2BD5414CF3C1A08C3E4564D851D8EDAFCC19970794B444EB30710A8DB7646B95C35F688CA475EE1EC440AA8398E79CAD8C44B9E7ED2824032573E6A52E7B528727BA19D2AA47744D3492E605B74B4692B51042B5E895A20C718CD65E6256C169D10E774810E27EC9611DE5E6F52ACF7253C05D41C48836779D6E9DE564C48984065279391188C6FF6900947C4A4830C04FAD302230CC12A401D74C5E11A46E62EB592ADD9F84ABDA356A8074A62402431A1A0388B02A564D4DA0467411DD94B0DB164D08D5524E58836708A39943048CC620D8CD10CD9739CF8C01487957C454E651553F5988E32802166BE58365C3252AF062514658463116ADD4C6D728C4218BAAF452ED2102C1C91A2F044DC465187311F4130E462108799445CBB47133E3D943E7E41416218EC00C63B0FE56C1455D2672ED210C7E67CBCB421D9099856404F994B757C8421A844DE1408559390AB3908568C6415A7FD310846566D25588A5397E6823B1F6DBDCABB21DEB86B927498B9C5F83CD264CD6449A64DDE2ACAA1CC9E5772BFB04C2B882E1F9B9208FB0A5B6C584D20CAC21F3B5905D002FC32C479F01024FA038235A0631D78D8D3B25514B838D0D2D79DD35914C33A2F89B0E71999C46164627C54BCC58717A57F20805D6C30F758A4C5510814C70EABF4CA36D9CC86E0E54A3AB0C43727CD5C243987B0CEDAC803C4E428CBDB222375248B36C0E5087380C3050866CA04C985D4A1A2950598A9B0A52996A4602291BCCC7D727DD2484BAC91C46758E4D82A85A2C201087D4141CA2DD82A7F69C9A62AB6DB5906E71104D49B768381A93AF97C1610EA8AFF7D99FEBA9D38D480075938526E964224AA7F42773986DCA1009AD6D3C1A2B61765603AC45B97F34B01ACDF869AC67B877AAF37F481075D3D1E8B8DB1B0C50AF6CCF63A059F9509950C96C2052B2F20CA36995FCBE04F55D82EA1DFAB0554878F260B61049861EAB3769735548206DE3942676201321B7A6038C44BEF5363013D5609980E9D41352C8AA9416A5CADE836D05A463F174F469896893D99C996936924D37B3DD6271E623DC26D2C760BC388CBC5C054364AE85385AC49634D5A75A8634D9EE7A959461C71F84E52DEA555EE431B55940265CB347627DED80B978D1D903D37DA85D08EF547ADA070D6B3C3B11DE211DADBDE8A430D86EB84B29EDD160DBD3F40050A00BC9A5D3086A78ECA90D3D8D76A66212D40D370F0DCF83AD43705FA7DDAC117D4D376502E94B6FE37ACABF05338265482F1D0D69EBB3D31C6E2B0A098CE745BAAB4CBD1FE9FA8EE149D88BCA9174F1D85B2926B41EA34F31E07CB0BDF0B7BD06BB2C59F4AABE0295EEA18E2B8A955D581BD2D5776B78C411ADF0265CEF55C8DE63F815FE967B44953C0ED08E19CDC7E8610CF9D75B10972DC0766977E6754BFBBBCD16A86FEAF59595B8ABFBAA8BEB6051BC8641716DBF7ACB118C674587D9EADFD1322ADC67D7E11A24E133CC51F57AC93D3B393D630A341D4FB1242FCF03EA7195A26212ADB43DBC110C0BA96A1F5459BE25220B16051824EAF320898BC70982B9DCE1AB2480BB85FB4B39F6DCB9FAE72333FC83739B61BB39774E9C5F49524C5E2C0957713B6A04208650249DF5765449C09853665B8CA887798F571A68125327AA0125AF20F35F40F6A718ECFE6CAB51EA51E22048E4C3C36180B8C785BDE732FBB870105DC403C24170BA68CB6ED634E3864C60FE2CCA8E0676FC0453569005F29B5D90A89A36C38C4F54B7661044A6364DC9FF149569BE0D4D8EE6DDA8BA2F1904D1E8555F7A087CDC0A2CC7AD806F7D79A1CE08EDBC3B31741AC72E7A7CFBBBF7084C9D9161E15C7F8BEC532FA48726C7AFDC318976DFE3E26F382E1EB940C6B23BFEB67BCF4D41212F6F2D0B4CE0D9058BC0302C9F9BE42803219FC072978538DEDB8088A29A3F543471BE85085B78EC97CF70039362DED18C9960521DC5B7601997A1637EAA2A2182348D7ED53B0E6A05BAECEB435A8349FAC81EAC42F9A0B78FEA3426D0D510E8557CA19719586845959C616C058A376A328CCAAC903D98817911193AD1C2BAB60B058BBE8CB72E40D3776590654E8FEE0E14CF03785C9A04907DFA026D311D2BC51DA147B0528C3AC1621AAF6098DDB107A3302E32344EA0C8DEA5F7A84E74DC01A33229FFE88246ED33FE21AA3B42C760A91D5D76C434CEC1223D63741361F2195A3361CB06B04A155799521699AAF217166EF054041BD576575A014252834A51824A045E56484640BF8C7805E5266433DB2B0E039B102FC0A4A90BC462EC966D0E19910029C023AFAE2210571D1E8A24D6E4E28A8526A966C3A220BD0C87844AB912A051950299B272166546C42B717E22F31B31FE1584263BC99CADB18B63096D5AF0BCF9506C730F0786D4BD322654B2D689B20187B3387A5D2B764AD34F4B55ACB2FE864EBC1F519B6355ADB22278AF5A1DB926551F77C4FB5D36E579448D8E5972CA9AF049346B514E8A4F04C5611CF11F71E298320FD71D8822D535813E15C0B57DAE92E7B4092C198A9A2E5CE21702018EEE3E65287C063EC29F7D98E765A9F1AF20DA167E3E7E82C15572BB459B2DC22CC3F829A20AC717F1A80A7F59338BA6797EBB294B8C8FC1C2D772A141F036F9711B46414BF7A520314102A20874EB8BB84297A8B8905BBFB5906EB807BC3240B5F8DAF8FC01C69B0803CB6F931578857D68FB92C39FE11AF86F4D3EAF1C885E11B4D8E79F43B0CE409CD730BAF1F827B6E120DE7DFF7F2B94B8358F760000, N'6.2.0-61023')


--Insert DATA

SET IDENTITY_INSERT [dbo].[Contas] ON 
INSERT [dbo].[Contas] ([Id], [Banco], [ContaCorrente], [Agencia]) VALUES (1, N'BB', N'1234', 1)
INSERT [dbo].[Contas] ([Id], [Banco], [ContaCorrente], [Agencia]) VALUES (2, N'Santander', N'2345', 2)
INSERT [dbo].[Contas] ([Id], [Banco], [ContaCorrente], [Agencia]) VALUES (3, N'Bradesco', N'3456', 3)
SET IDENTITY_INSERT [dbo].[Contas] OFF
GO

SET IDENTITY_INSERT [dbo].[Especialidades] ON 
INSERT [dbo].[Especialidades] ([Id], [Nome], [Valor]) VALUES (1, N'Medico Geral', 10)
INSERT [dbo].[Especialidades] ([Id], [Nome], [Valor]) VALUES (2, N'Cardiologista', 40)
INSERT [dbo].[Especialidades] ([Id], [Nome], [Valor]) VALUES (3, N'Dermatologista', 25)
SET IDENTITY_INSERT [dbo].[Especialidades] OFF
GO

SET IDENTITY_INSERT [dbo].[Medicos] ON 

INSERT [dbo].[Medicos] ([MedicoId], [CRM], [Turno], [Nome], [Nascimento], [Telefone], [CPF], [conta_Id], [Especialidade_Id]) VALUES (1, N'CRM-012', N'M', N'dr. Oz', CAST(N'1990-01-02T00:00:00.000' AS DateTime), N'123', N'123', 1, 1)
INSERT [dbo].[Medicos] ([MedicoId], [CRM], [Turno], [Nome], [Nascimento], [Telefone], [CPF], [conta_Id], [Especialidade_Id]) VALUES (2, N'CRM-123', N'M', N'dr. Lerguino', CAST(N'1990-01-02T00:00:00.000' AS DateTime), N'123', N'123', 1, 1)

SET IDENTITY_INSERT [dbo].[Medicos] OFF
GO

SET IDENTITY_INSERT [dbo].[Secretarias] ON 
INSERT [dbo].[Secretarias] ([SecretariaId], [Turno], [Nome], [Nascimento], [Telefone], [CPF], [conta_Id]) VALUES (1, N'Noturno', N'Angelica', CAST(N'2018-06-25T00:24:42.100' AS DateTime), N'2222222', N'1111111', NULL)
INSERT [dbo].[Secretarias] ([SecretariaId], [Turno], [Nome], [Nascimento], [Telefone], [CPF], [conta_Id]) VALUES (2, N'Manhã', N'Gertrudez', CAST(N'2018-06-25T00:24:42.110' AS DateTime), N'3333333', N'222222', NULL)
INSERT [dbo].[Secretarias] ([SecretariaId], [Turno], [Nome], [Nascimento], [Telefone], [CPF], [conta_Id]) VALUES (3, N'Noturno', N'Antonieta', CAST(N'2018-06-25T00:24:42.110' AS DateTime), N'4444444', N'333333', NULL)
SET IDENTITY_INSERT [dbo].[Secretarias] OFF
GO

SET IDENTITY_INSERT [dbo].[Convenios] ON 
INSERT [dbo].[Convenios] ([Id], [Nome], [Empresa], [Telefone]) VALUES (1, N'Unimed Premium', N'Unimed', N'123456')
INSERT [dbo].[Convenios] ([Id], [Nome], [Empresa], [Telefone]) VALUES (2, N'Amil Standard', N'Amil', N'234567')
SET IDENTITY_INSERT [dbo].[Convenios] OFF
GO

SET IDENTITY_INSERT [dbo].[Pacientes] ON 
INSERT [dbo].[Pacientes] ([PacienteId], [Nome], [Nascimento], [Telefone], [CPF], [Convenio_Id]) VALUES (1, N'Juca', CAST(N'1980-02-02T00:00:00.000' AS DateTime), N'123', N'456', 1)
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultas] ON 
INSERT [dbo].[Consultas] ([Id], [Hora], [Medico_MedicoId], [Paciente_PacienteId], [Secretaria_SecretariaId]) VALUES (2, CAST(N'2018-06-25T10:10:00.000' AS DateTime), 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Consultas] OFF
GO

SET IDENTITY_INSERT [dbo].[Usuarios] ON 
INSERT [dbo].[Usuarios] ([UsuarioID], [Nome], [Ativo]) VALUES (1, N'test', 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [Nome], [Ativo]) VALUES (2, N'123', 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [Nome], [Ativo]) VALUES (3, N'Joao', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO


ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Consultas_dbo.Medicos_Medico_MedicoId] FOREIGN KEY([Medico_MedicoId])
REFERENCES [dbo].[Medicos] ([MedicoId])
GO
ALTER TABLE [dbo].[Consultas] CHECK CONSTRAINT [FK_dbo.Consultas_dbo.Medicos_Medico_MedicoId]
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Consultas_dbo.Pacientes_Paciente_PacienteId] FOREIGN KEY([Paciente_PacienteId])
REFERENCES [dbo].[Pacientes] ([PacienteId])
GO
ALTER TABLE [dbo].[Consultas] CHECK CONSTRAINT [FK_dbo.Consultas_dbo.Pacientes_Paciente_PacienteId]
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Consultas_dbo.Secretarias_Secretaria_SecretariaId] FOREIGN KEY([Secretaria_SecretariaId])
REFERENCES [dbo].[Secretarias] ([SecretariaId])
GO
ALTER TABLE [dbo].[Consultas] CHECK CONSTRAINT [FK_dbo.Consultas_dbo.Secretarias_Secretaria_SecretariaId]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Medicos_dbo.Contas_conta_Id] FOREIGN KEY([conta_Id])
REFERENCES [dbo].[Contas] ([Id])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_dbo.Medicos_dbo.Contas_conta_Id]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Medicos_dbo.Especialidades_Especialidade_Id] FOREIGN KEY([Especialidade_Id])
REFERENCES [dbo].[Especialidades] ([Id])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_dbo.Medicos_dbo.Especialidades_Especialidade_Id]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pacientes_dbo.Convenios_Convenio_Id] FOREIGN KEY([Convenio_Id])
REFERENCES [dbo].[Convenios] ([Id])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_dbo.Pacientes_dbo.Convenios_Convenio_Id]
GO
ALTER TABLE [dbo].[Secretarias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Secretarias_dbo.Contas_conta_Id] FOREIGN KEY([conta_Id])
REFERENCES [dbo].[Contas] ([Id])
GO
ALTER TABLE [dbo].[Secretarias] CHECK CONSTRAINT [FK_dbo.Secretarias_dbo.Contas_conta_Id]
GO
